@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #1e1e1e;
  --background: #f8fafc;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--text-color));
  background: var(--background);
}
